import scrapy
from scrapy.http import TextResponse


class $classname(scrapy.Spider):
    name = '$name'
    allowed_domains = ['$domain']
    start_urls = ['http://$domain/']
    # handle_httpstatus_list = []

    def parse(self, response: TextResponse, **kwargs):
        pass
