import scrapy
from scrapy.http.response import Response


class $classname(scrapy.Spider):
    name = '$name'
    allowed_domains = ['$domain']
    start_urls = ['http://$domain/']

    def parse(self, response: Response, **kwargs):
        pass
